$primary: #006476;

.sponsor-image {
  height: 160px;
}

.main-cta {
  width: 160px;
}

.hero-container {
  position: relative;
}

.hero-image {
  position: absolute;
  padding-top: 105px;
  width: 130%;
  left: -30%;

  @media screen and (max-width: 1200px) {
    position: absolute;
    width: 120%;
    left: -20%;
  }

  @media screen and (max-width: 992px) {
    position: static;
    width: 80%;
  }

  @media screen and (max-width: 768px) {
    position: static;
    width: 100%;
  }
}

.btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: darken($primary, 10%) !important;
  border-color: darken($primary, 10%) !important;
}
